<?xml version="1.0" encoding="utf-8"?>
<log4net>
    <appender name="RollingLogFileAppender" type="EUSignNetProject.Services.Logger.Log4NetHeaderOnceRollingFileAppender,EUSignNetProject">
        <file value="Logs\" type="log4net.Util.PatternString">
        </file>
        <file type="log4net.Util.PatternString">
            <conversionPattern value="Logs/%property{log4net:HostName}" />
        </file>
        <staticLogFileName value="false" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value="-yyyyMMdd-HH'00.log'" />
        <layout type="log4net.Layout.DynamicPatternLayout">
            <IgnoresException value="False" />
            <!-- NOTE: these CDATA values contain tabs -->
            <param name="Header"><![CDATA[Timestamp                Process                                   TID     Area                            Category                        EventID Level       Message   Correlation%newline]]></param>
            <conversionPattern><![CDATA[%date{MM/dd/yyyy HH:mm:ss.ff}  %appdomain  %thread %property{Area} %property{Category} %property{EventID}  %level  %message  %property{Correlation}%newline]]></conversionPattern>
        </layout>
    </appender>
    <root>
        <level value="ALL" />
        <appender-ref ref="RollingLogFileAppender" />
    </root>
</log4net>